@using Northwind.Models
@model IEnumerable<Discount>

<div class="jumbotron my-2 mb-xl-0 mb-lg-0 mb-md-0 mb-sm-0 mb-0 text-dark">
    <h1 class="display-4 text-dark">Northwind</h1>
    <p class="lead">We have the best prices and selection of high quality foods &amp; beverages on the planet! Check out our featured discounts below.</p>
    <hr class="my-4">
    <p>For exceptional international cuisuine, look no further.</p>
    <a class="btn btn-outline-primary btn-lg " href="#" role="button"><i class="fas fa-shopping-cart"></i> Order Now</a>
</div>
<br />
<div class="container text-dark">
    <div class="row">
        @foreach (Discount d in Model)
        {
        <div class="col-md p-3 mr-3 discounts border border-primary rounded-lg">
            <h3 class="font-weight-bolder">@d.Title</h3>
            <div class="mb-4 text-justify">
                @d.Description
            </div>
            <h6 class="font-italic">Discount Expires: @d.EndTime.ToString("MM/dd/yyyy")</h6>
            <a href="#" class="code" data-code="@d.Code" data-product="@d.Title"><i class="far fa-hand-point-right"></i> Discount Code</a>
        </div>
        }
    </div>
</div>

@section Scripts {
    <script src="~/js/client.js"></script>
}
